### Working with Financial Data

Publicly traded companies are classified into one of 11 industry sectors, called GICS (Global Industry Classification Standard). Investors use these classes to design and construct portfolios, compare companies, evaluate industries, and isolate regional from global trends.

There are 11 GICS sectors

* Communication services
* Consumer discretionary
* Consumer staples
* Energy
* Financials
* Health care
* Industrials
* Information technology
* Materials
* Real estate
* Utilities


In this notebook we'll work with financial data, grouped by sector, to analyze different trends in companies and sectors listed on the S&P 500. 


Begin by loading the GICS sector mappings. They've been provided to you in a file called `gics.csv`

In [1]:
import pandas as pd
import numpy as np

In [2]:
gics_mappings  = pd.read_csv('./gics.csv')

In [3]:
gics_mappings.head()

   Code                    Name
0    50  Communication services
1    25  Consumer discretionary
2    30        Consumer staples
3    10                  Energy
4    40              Financials

In [4]:
gics_mappings.size

22

Load the S&P 500 sector mappings and take a look at the data. The file is called `sp500-sector.csv`

In [5]:
sp_sector_mappings = pd.read_csv('./sp500-sector.csv')

In [6]:
sp_sector_mappings.head()

  Symbol                 Name                  Sector
0    MMM           3M Company             Industrials
1    AOS      A.O. Smith Corp             Industrials
2    ABT  Abbott Laboratories             Health Care
3   ABBV          AbbVie Inc.             Health Care
4    ACN        Accenture plc  Information Technology

Create a dataframe that has the S&P 500 stock symbols with the appropriate sector number. For example, `3M`, symbol `MMM` is in `industrials` which corresponds to sector 20.

In [7]:
# Let's just verify what we read
gics_mappings[gics_mappings.Code == 20]

   Code         Name
6    20  Industrials

In [8]:
# Join our sets together, gics mapping with the stock data
joined_data = pd.merge(sp_sector_mappings, gics_mappings, left_on='Sector', right_on='Name', how='left')
joined_data.head()

  Symbol               Name_x                  Sector  Code       Name_y
0    MMM           3M Company             Industrials  20.0  Industrials
1    AOS      A.O. Smith Corp             Industrials  20.0  Industrials
2    ABT  Abbott Laboratories             Health Care   NaN          NaN
3   ABBV          AbbVie Inc.             Health Care   NaN          NaN
4    ACN        Accenture plc  Information Technology   NaN          NaN

In [9]:
#huh, we're missing some data?
sp_sector_mappings.Sector.unique()

array(['Industrials', 'Health Care', 'Information Technology',
       'Consumer Discretionary', 'Utilities', 'Financials', 'Materials',
       'Real Estate', 'Consumer Staples', 'Energy',
       'Telecommunication Services'], dtype=object)

In [10]:
gics_mappings.Name.unique()

array(['Communication services', 'Consumer discretionary',
       'Consumer staples', 'Energy', 'Financials', 'Health care',
       'Industrials', 'Information technology', 'Materials',
       'Real estate', 'Utilities'], dtype=object)

In [11]:
# Ah, casing is screwing us up :-/
# Let's just brute force set them.
gics_mappings.loc[gics_mappings.Name == 'Health care', 'Name'].Name = 'Health Care'
gics_mappings.loc[gics_mappings.Name == 'Health care', 'Name']

5    Health care
Name: Name, dtype: object

In [12]:
# Hmm, guess that didn't work to set it.  Let's try this!
gics_mappings.at['Name', 'Health care'] = 'Health Care'

In [13]:
# No effect...
gics_mappings.loc[gics_mappings.Name == 'Health care', 'Name']

5    Health care
Name: Name, dtype: object

In [14]:
# Found this in the interwebs
gics_mappings.ix[gics_mappings.Name == 'Health care', 'Name'].Name = 'Health Care'
gics_mappings.ix[gics_mappings.Name == 'Health care', 'Name']

/Users/nswarr/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated

/Users/nswarr/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  This is separate from the ipykernel package so we can avoid doing imports until

5    Health care
Name: Name, dtype: object

In [15]:
# New weapon from the internet
gics_mappings.loc[gics_mappings.Name == 'Health care', 'Name'].at['Name'] = 'Health Care'
gics_mappings.loc[gics_mappings.Name == 'Health care', 'Name']

5    Health care
Name: Name, dtype: object

In [17]:
# Still, nada.  Oops, not indexing correctly.  Maybe this will do the trick?
gics_mappings.at[5, 'Name'] = 'Health Care'
gics_mappings.loc[gics_mappings.Name == 'Health Care', 'Name']

5    Health Care
Name: Name, dtype: object

In [18]:
# Eureka!
gics_mappings.Name.unique()

array(['Communication services', 'Consumer discretionary',
       'Consumer staples', 'Energy', 'Financials', 'Health Care',
       'Industrials', 'Information technology', 'Materials',
       'Real estate', 'Utilities', nan], dtype=object)

In [19]:
# Hammer time
gics_mappings.at[0, 'Name'] = 'Communication Services'
gics_mappings.at[1, 'Name'] = 'Consumer Discretionary'
gics_mappings.at[2, 'Name'] = 'Consumer Staples'
gics_mappings.at[7, 'Name'] = 'Information Technology'
gics_mappings.at[9, 'Name'] = 'Real Estate'
gics_mappings.Name.unique()

array(['Communication Services', 'Consumer Discretionary',
       'Consumer Staples', 'Energy', 'Financials', 'Health Care',
       'Industrials', 'Information Technology', 'Materials',
       'Real Estate', 'Utilities', nan], dtype=object)

In [20]:
joined_data = pd.merge(sp_sector_mappings, gics_mappings, left_on='Sector', right_on='Name', how='left')
joined_data.head()

,Symbol,Name_x,Sector,Code,Name_y,Health care
0,MMM,3M Company,Industrials,20.0,Industrials,NaN
1,AOS,A.O. Smith Corp,Industrials,20.0,Industrials,NaN
2,ABT,Abbott Laboratories,Health Care,35.0,Health Care,NaN
3,ABBV,AbbVie Inc.,Health Care,35.0,Health Care,NaN
4,ACN,Accenture plc,Information Technology,45.0,Information Technology,NaN

In [21]:
# Oops, created some crap on the way.  Let's kill it.
del joined_data['Health care']

In [22]:
joined_data.head()

,Symbol,Name_x,Sector,Code,Name_y
0,MMM,3M Company,Industrials,20.0,Industrials
1,AOS,A.O. Smith Corp,Industrials,20.0,Industrials
2,ABT,Abbott Laboratories,Health Care,35.0,Health Care
3,ABBV,AbbVie Inc.,Health Care,35.0,Health Care
4,ACN,Accenture plc,Information Technology,45.0,Information Technology

Working with strings in pandas can be much slower than working with integers and floats. Securities are typically represented by a security id, a numerical representation of the security. Ids have been provided in the file `sp500-ids.csv`. Load these into a dataframe and then generate a new dataframe that contains the columns `security_id` and `sector`.

In [24]:
sp500_ids = pd.read_csv('./sp500-ids.csv')
print(sp500_ids.dtypes)
sp500_ids.head()

Symbol         object
Security_id     int64
dtype: object

  Symbol  Security_id
0    MMM            1
1    AOS            2
2    ABT            3
3   ABBV            4
4    ACN            5

In [25]:
# Lookin good, let's merge
security_and_sector = pd.merge(sp_sector_mappings, sp500_ids, on='Symbol')
security_and_sector.head()

  Symbol                 Name                  Sector  Security_id
0    MMM           3M Company             Industrials            1
1    AOS      A.O. Smith Corp             Industrials            2
2    ABT  Abbott Laboratories             Health Care            3
3   ABBV          AbbVie Inc.             Health Care            4
4    ACN        Accenture plc  Information Technology            5

In [27]:
# we can get rid of Name but I'm gonna hang onto this mapping!
del security_and_sector['Name']
security_and_sector.head()

KeyError: 'Name'

Load the file `sp500-5yr.csv` into a dataframe. This file contains 5 years worth of historical prices for securities listed on the S&P 500. Convert the symbols into security ids, and bring in the sector colums as well.

In [28]:
sp_5year = pd.read_csv('./sp500-5yr.csv')
sp_5year.head()

         date   open   high    low  close    volume symbol
0  2013-02-08  15.07  15.12  14.63  14.75   8407500    AAL
1  2013-02-11  14.89  15.01  14.26  14.46   8882000    AAL
2  2013-02-12  14.45  14.51  14.10  14.27   8126000    AAL
3  2013-02-13  14.30  14.94  14.25  14.66  10259500    AAL
4  2013-02-14  14.94  14.96  13.16  13.99  31879900    AAL

In [29]:
# Teeheez, I read ahead.  I have a map of symbols to security IDs so now I can join them up.
sp_5year_plus_extra = pd.merge(sp_5year, security_and_sector, left_on='symbol', right_on='Symbol')
sp_5year_plus_extra.head()

,date,open,high,low,close,volume,symbol,Symbol,Sector,Security_id
0,2013-02-08,15.07,15.12,14.63,14.75,8407500,AAL,AAL,Industrials,33
1,2013-02-11,14.89,15.01,14.26,14.46,8882000,AAL,AAL,Industrials,33
2,2013-02-12,14.45,14.51,14.10,14.27,8126000,AAL,AAL,Industrials,33
3,2013-02-13,14.30,14.94,14.25,14.66,10259500,AAL,AAL,Industrials,33
4,2013-02-14,14.94,14.96,13.16,13.99,31879900,AAL,AAL,Industrials,33

In [30]:
# We've got a little too much symbol action here, let's axe one.
del sp_5year_plus_extra['Symbol']
sp_5year_plus_extra.head()

,date,open,high,low,close,volume,symbol,Sector,Security_id
0,2013-02-08,15.07,15.12,14.63,14.75,8407500,AAL,Industrials,33
1,2013-02-11,14.89,15.01,14.26,14.46,8882000,AAL,Industrials,33
2,2013-02-12,14.45,14.51,14.10,14.27,8126000,AAL,Industrials,33
3,2013-02-13,14.30,14.94,14.25,14.66,10259500,AAL,Industrials,33
4,2013-02-14,14.94,14.96,13.16,13.99,31879900,AAL,Industrials,33

Determine which sectors had the best performance for the past year, past three years and past five years. Note the start and end dates on the dataset.

In [32]:
# date slicing stuff is coming up.  Let's see if what we have has date types already
sp_5year_plus_extra.dtypes

date            object
open           float64
high           float64
low            float64
close          float64
volume           int64
symbol          object
Sector          object
Security_id      int64
dtype: object

In [33]:
# Nopers!  So let's make a date index
format = '%Y-%m-%d'
sp_5year_plus_extra['date'] = pd.to_datetime(sp_5year_plus_extra['date'], format=format)
sp_5year_plus_extra = sp_5year_plus_extra.set_index(pd.DatetimeIndex(sp_5year_plus_extra['date']))

In [34]:
sp_5year_plus_extra.head()

,date,open,high,low,close,volume,symbol,Sector,Security_id
date,,,,,,,,,
2013-02-08,2013-02-08,15.07,15.12,14.63,14.75,8407500,AAL,Industrials,33
2013-02-11,2013-02-11,14.89,15.01,14.26,14.46,8882000,AAL,Industrials,33
2013-02-12,2013-02-12,14.45,14.51,14.10,14.27,8126000,AAL,Industrials,33
2013-02-13,2013-02-13,14.30,14.94,14.25,14.66,10259500,AAL,Industrials,33
2013-02-14,2013-02-14,14.94,14.96,13.16,13.99,31879900,AAL,Industrials,33

In [36]:
# Woohoo!  We have a date index!
# OK, so we need the top performing sector for the past year
# Umm, how is performance quantified?  I'm guessing the largest gain in value?
# So, the value is going to be the starting price of each stock and the ending price.
# The difference will be the largest gain in capital. Yeah?
import datetime

a_year_ago = datetime.datetime.now() - datetime.timedelta(days=1*365)

stocks_in_last_year = sp_5year_plus_extra.loc[sp_5year_plus_extra.date >= a_year_ago]
stocks_in_last_year.head()

Empty DataFrame
Columns: [date, open, high, low, close, volume, symbol, Sector, Security_id]
Index: []

In [37]:
# Eh?  Where does our data end?
sp_5year_plus_extra.date.max()

Timestamp('2018-02-07 00:00:00')

In [38]:
# I see.  We need a year from the last data pull then?  Eff it.
a_year_from_last_stock_entry = sp_5year_plus_extra.date.max() - datetime.timedelta(days=1*365)
print(a_year_from_last_stock_entry)

2017-02-07 00:00:00

In [50]:
# That looks about right.  Let's grab all the stock data for the 365 before the final date
stock_data = sp_5year_plus_extra.loc[sp_5year_plus_extra.date >= a_year_from_last_stock_entry]
stock_data.head()

,date,open,high,low,close,volume,symbol,Sector,Security_id
date,,,,,,,,,
2017-02-07,2017-02-07,45.75,46.130,45.01,45.17,6119960,AAL,Industrials,33
2017-02-08,2017-02-08,45.26,45.260,44.51,45.06,4330414,AAL,Industrials,33
2017-02-09,2017-02-09,45.07,46.599,44.94,46.30,7089902,AAL,Industrials,33
2017-02-10,2017-02-10,46.62,46.700,46.17,46.45,4040567,AAL,Industrials,33
2017-02-13,2017-02-13,46.56,47.780,46.50,47.41,6158580,AAL,Industrials,33

In [122]:
# Now we need to grab the earliest stock price for each ticker, add them up 
# and subtract them from the sum of all of their closing ticker prices.
# That'll give us raw market shift.
symbols_and_earliest_entry = stock_data.groupby(['symbol']).agg({'date': 'min'})
symbols_and_earliest_entry.head()

             date
symbol
A      2017-02-07
AAL    2017-02-07
AAP    2017-02-07
AAPL   2017-02-07
ABBV   2017-02-07

In [123]:
# Make indexes into columns
symbols_and_earliest_entry = symbols_and_earliest_entry.reset_index()

In [114]:
symbols_and_earliest_entry.head()

  symbol       date
0      A 2017-02-07
1    AAL 2017-02-07
2    AAP 2017-02-07
3   AAPL 2017-02-07
4   ABBV 2017-02-07

In [124]:
# I need to match up on the dates 
symbols_and_earliest_entry.index = pd.Index(symbols_and_earliest_entry.date)
symbols_and_earliest_entry.index.names

FrozenList(['date'])

In [127]:
# Join back to get the stock price paired with the earliest entry.
starting_entries = stock_data.merge(symbols_and_earliest_entry, on=['date', 'symbol'])
starting_entries.tail()

/Users/nswarr/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:3: FutureWarning: 'date' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version
  This is separate from the ipykernel package so we can avoid doing imports until

,date,open,high,low,close,volume,symbol,Sector,Security_id
493,2017-02-07,47.27,47.84,46.780,47.22,1841515,XYL,Industrials,501
494,2017-02-07,66.48,66.88,66.390,66.49,1495870,YUM,Consumer Discretionary,502
495,2017-02-07,117.83,118.38,117.110,118.11,800086,ZBH,Health Care,503
496,2017-02-07,43.05,43.26,42.680,42.82,1741482,ZION,Financials,504
497,2017-02-07,56.11,56.32,55.685,55.98,2402728,ZTS,Health Care,505

In [130]:
# Now for the ending entries
symbols_and_latest_entry = stock_data.groupby(['symbol']).agg({'date': 'max'})
symbols_and_latest_entry.head()

             date
symbol
A      2018-02-07
AAL    2018-02-07
AAP    2018-02-07
AAPL   2018-02-07
ABBV   2018-02-07

In [131]:
symbols_and_latest_entry = symbols_and_latest_entry.reset_index()
symbols_and_latest_entry.head()

  symbol       date
0      A 2018-02-07
1    AAL 2018-02-07
2    AAP 2018-02-07
3   AAPL 2018-02-07
4   ABBV 2018-02-07

In [132]:
symbols_and_latest_entry.index = pd.Index(symbols_and_latest_entry.date)
symbols_and_latest_entry.index.names

FrozenList(['date'])

In [133]:
# Get our stock prices for end dates
ending_entries = stock_data.merge(symbols_and_latest_entry, on=['date', 'symbol'])
ending_entries.tail()

/Users/nswarr/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: 'date' is both an index level and a column label.
Defaulting to column, but this will raise an ambiguity error in a future version

,date,open,high,low,close,volume,symbol,Sector,Security_id
493,2018-02-07,71.27,72.860,71.12,71.79,1748941,XYL,Industrials,501
494,2018-02-07,80.07,81.940,80.00,80.13,3561068,YUM,Consumer Discretionary,502
495,2018-02-07,121.65,123.520,120.74,120.78,1145267,ZBH,Health Care,503
496,2018-02-07,52.23,54.315,52.22,54.02,6427280,ZION,Financials,504
497,2018-02-07,72.70,75.000,72.69,73.86,4534912,ZTS,Health Care,505

In [142]:
#OK, I think I have both starting and ending stock prices for all stocks.  Now let's see how much they've grown.
starting_values_by_sector = starting_entries.groupby('Sector').agg({'close': 'sum'}).reset_index().sort_values('Sector')
ending_values_by_sector = ending_entries.groupby('Sector').agg({'close': 'sum'}).reset_index().sort_values('Sector')

print(starting_values_by_sector)
print(ending_values_by_sector)

ending_values_by_sector['delta'] = ending_values_by_sector.close - starting_values_by_sector.close
print(ending_values_by_sector.sort_values('delta', ascending=False))

                        Sector      close
0       Consumer Discretionary  7554.9351
1             Consumer Staples  2637.7900
2                       Energy  1992.4400
3                   Financials  5264.6900
4                  Health Care  6828.4464
5                  Industrials  6658.8800
6       Information Technology  6699.0100
7                    Materials  2280.8700
8                  Real Estate  2984.6400
9   Telecommunication Services   114.0400
10                   Utilities  1596.7600
                        Sector     close
0       Consumer Discretionary  8796.040
1             Consumer Staples  2759.660
2                       Energy  1924.220
3                   Financials  6332.125
4                  Health Care  8370.180
5                  Industrials  8129.370
6       Information Technology  8701.530
7                    Materials  2661.410
8                  Real Estate  2917.870
9   Telecommunication Services   105.000
10                   Utilities  1566.660
                        Sector     close      delta
6       Information Technology  8701.530  2002.5200
4                  Health Care  8370.180  1541.7336
5                  Industrials  8129.370  1470.4900
0       Consumer Discretionary  8796.040  1241.1049
3                   Financials  6332.125  1067.4350
7                    Materials  2661.410   380.5400
1             Consumer Staples  2759.660   121.8700
9   Telecommunication Services   105.000    -9.0400
10                   Utilities  1566.660   -30.1000
8                  Real Estate  2917.870   -66.7700
2                       Energy  1924.220   -68.2200

For each sector, determine the top performer and the bottom performer for the 1 year, 3 year, and 5 year windows.

Imagine two portfolios, one comprised of the securites represented by even ids and one by odd ids. Which portfolio has had the best performance over the 1,3 and 5 year time windows?

Combine these two portfolios into a single portfolio. What was the overall performance of the SP500 for the same time periods?